<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('user.name') %>:</strong>
  <%= @user.name %>
</p>

<p>
  <strong><%= t('user.email') %>:</strong>
  <%= @user.email %>
</p>

<p>
  <strong><%= t('user.address') %>:</strong>
  <%= @user.address %>
</p>

<p>
  <strong><%= t('user.address') %>:</strong>
  <%= @user.address2 %>
</p>

<p>
  <strong><%= t('user.city') %>:</strong>
  <%= @user.city %>
</p>

<p>
  <strong><%= t('user.state') %>:</strong>
  <%= @user.state %>
</p>

<p>
  <strong><%= t('user.zip_code') %>:</strong>
  <%= @user.zip_code %>
</p>

<p>
  <strong><%= t('user.emergency_contact_name') %>:</strong>
  <%= @user.emergency_contact_name %>
</p>

<p>
  <strong><%= t('user.emergency_contact_phone') %>:</strong>
  <%= @user.emergency_contact_phone %>
</p>

<p>
  <strong><%= t('user.waiver_signature') %>:</strong>
  <%= @user.waiver_signature %>
</p>

<p>
  <strong><%= t('user.photo_release') %>:</strong>
  <%= @user.photo_release %>
</p>

<%= link_to t('action.edit'), edit_user_path(@user) %> |
<%= link_to t('action.back'), users_path %>
